<app-header [titulo]="namePage"></app-header>

<ion-content [fullscreen]="true">
  <app-header-ios [titulo]="namePage"></app-header-ios>
  <section class="contenedor-texto">
    <h1>Nuestra Historia</h1>
    <p>
        Fundado en 2010, Pollería DIEGO'S nació con el propósito de llevar los sabores auténticos de la cocina tradicional peruana a nuestra comunidad. Empezamos como un pequeño restaurante familiar, enfocados en la calidad y el sabor de nuestros platos. Con el tiempo, hemos crecido hasta convertirnos en un referente local, sin perder la esencia que nos caracteriza: comida deliciosa, ambiente acogedor y un servicio atento.
    </p>

    <h1>Misión y Visión</h1>
    <p>
        Misión: Ofrecer a nuestros clientes una experiencia gastronómica única, basada en ingredientes frescos, técnicas culinarias tradicionales y un compromiso con la satisfacción de cada visitante.
        Visión: Ser el restaurante favorito de quienes buscan disfrutar de los auténticos sabores peruanos, destacándonos por nuestro servicio y calidad, y creciendo como un espacio donde la comida y la hospitalidad se unen.
    </p>
    <h1>Nuestros Valores</h1>
    <h2>
        Nos guiamos por principios que nos definen en cada plato y cada servicio:
    </h2>
    <p>
        Calidad: Solo utilizamos ingredientes frescos y seleccionados cuidadosamente.
        Autenticidad: Nos inspiramos en recetas tradicionales que reflejan nuestra herencia cultural.
        Compromiso con el cliente: Nos esforzamos por brindar una experiencia excepcional en cada visita.
    </p>
    <h2>Galería</h2>
    <ion-grid fixed>
      <ion-row>

        <ion-col size-md="4"  size-xs="12">
          <img src="assets/imagenes/imagen_front_polleria.jpg">
        </ion-col>

        <ion-col size-md="4"  size-xs="12">
          <img src="assets/imagenes/polleria-int-esp.jpg">
        </ion-col>
        <ion-col size-md="4"  size-xs="12">
          <img src="assets/imagenes/polleria-interior.jpg">
        </ion-col>

      </ion-row>
    </ion-grid>
    
    
    
    </section>
    <app-pie-pagina></app-pie-pagina>
</ion-content>