
ion-text{
    padding: 0 15px;
}
ion-input{
    margin: 10px 0 0;
}
ion-button{
    margin-top: 10px;
}
.contenedor{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    
}
.contenedor form{
    border-radius: 10px;
    padding: 10px;

}