<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Pollería Diego's</h3>
        <p>¡Donde el sabor se encuentra con la tradición!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Contáctanos</h4>
        <p>Dirección: Av. Psj. Alfonso Ugarte, Bagua</p>
        <p>Teléfono: 987654321</p>
        <p>Email: <a href="mailto:diego@chicken.com">diego&#64;chicken.com</a></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><strong>Síguenos en:</strong></p>
        <ion-button href="https://facebook.com" target="_blank">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button href="https://instagram.com" target="_blank">
          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button href="https://twitter.com" target="_blank">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
